.btn-clicked {
  animation: click-animation 0.2s ease-out;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8); /* Button grows slightly */
  }
  100% {
    transform: scale(1); /* Returns to normal size */
  }
}

